.navbar {
  margin-bottom: 0px;
}

.jumbotron {
  height: 750px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background: url('../images/donateWiley.jpg');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;  
}

.intro {
	margin: 20px 0;
	font-size: 18px;
}

.media-object {
	border-radius: 5px
}